# Node.js dependencies
node_modules/

# Environment variables
.env

# VS Code settings
.vscode/

# Build artifacts
dist/
out/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

extractions/**/*/*.csv
extractions/**/*/*.xlsx
extractions/**/*/*.pdf
